/*===================
style.css.css
Basis mit Einbindug in index.html
===================*/


html {
    scroll-behavior: smooth;
    background-color: #034B4F;
    font-family: "Space Grotesk";
    font-weight: 500;
}
main {
    padding-top: 50px;
}
footer {
    background-color: black;
    color: white;
    text-align: right;
    padding: 0.5rem;
}
footer a {
    color: white;
    text-decoration: none;
}
