/*===================
style.css.css
Basis mit Einbindung in index.html
===================*/


html {
    background-color: #EFF291;
    font-family: "Space Grotesk";
    font-weight: 500;
    scroll-behavior: smooth;
}   
body {
    margin: 0;
}
.header {
    background-color: #EFF291;
    height: auto;
    position: relative;
}
.contents {
    display: contents;
    flex-wrap: wrap;
}
.header-frame {
    align-items: center;
    background-color: #EFF291;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    height: min-content;
    justify-content: center;
    min-height: 80px;
    opacity: 1;
    padding: 24px;
    position: relative;
}
.TitleIco {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 0px;
    height: min-content;
    justify-content: space-between;
    opacity: 1;
    overflow: visible;
    padding: 0;
    position: relative;
}
.Logo-Li {
    flex: none;
    height: 40px;
    opacity: 1;
    overflow: visible;
    position: relative;
    width: 350px;
}
.Boximg {
    border-radius: inherit;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.Link-Header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex: none;
    height: auto;
    justify-content: flex-start;
    opacity: 1;
    outline: none;
    overflow: visible;
    position: relative;
    transform: none;
    white-space: pre;
    width: auto;
}
.a-header {
    color: #262626;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
    text-decoration: none;
}
.a-header:hover {
    font-size: 18px;
}
.HoveredLinkBox {
    background-color: #262626;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    opacity: 1;
    padding: 15px;
    position: relative;
}
.Text-Box-Link {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
    outline: none;
    position: relative;
    transform: none;
}
.HoveredLinkText {
    color: #EFF291;
    display: flex;
    font-weight: 900;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.HoveredLinkText:hover {
    color: #ECF23D;
    text-shadow: 0 0 50px #EFF291;
    font-size: 18px;
}





.main {
    background-color: #BFBFBF;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px 24px;
    position: relative;
    flex-wrap: nowrap;
    height: min-content;
}
.FIrst-Home {
    align-items: center;
    background-color: #BFBFBF;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    gap: 100px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    flex-wrap: nowrap;
}
.FHAB1 {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}
@media screen and (min-width: 730px) {
    .FHAB1 {
        flex-wrap: nowrap;
    }
}
.FHAB2 {
    align-content: center;
    align-items: center;
    background-color: #BFBFBF;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
}
.PIC {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content;
}
.pic1 {
    display: flex;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
    width: min-content;
}
.ContentbesideIMG {
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    padding: 0;
    position: relative;
}
.H1 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}
.H1 h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    text-align: left;
    color: #EFF291;
    margin: 0;
}
.Text {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}
.Text h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5em;
    text-align: left;
    color: #262626;
    margin: 0;
}
.Buttons {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}
.bu1 {
    align-items: center;
    background-color: #262626;
    border-radius: 8px;
    box-shadow: 0 0 10px  #262626;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 25px;
    justify-content: center;
    overflow: visible;
    padding: 15px;
    position: relative;
    width: min-content;
}
.textFRame {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}
.textFRame a {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: #EFF291;
    text-decoration: none;
}
.bu2 {
    align-items: center;
    background-color: #EFF291;
    border-radius: 8px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 25px;
    justify-content: center;
    overflow: visible;
    padding: 15px;
    position: relative;
    width: min-content;
}
.textFRame1 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}
.textFRame1 a {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: #262626;
    text-decoration: none;
}





footer {
    align-items: center;
    background-color: #EFF291;
    color: #262626;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0;
    padding: 60px 40px 60px 40px;
    position: relative  ;
}
footer a {
    color: #262626;
    text-decoration: none;
}
footer a:hover {
    color: #BFBFBF;
}
.footer-Link-tree {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: none;
    gap: 40px;
    height: min-content;
    justify-content: flex-start;
}
.footer-Link-Block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: none;
    gap: 15px;
    height: min-content;
    justify-content: flex-start;
    margin: 0;
    position: relative;
    width: 269px;
}
.First-Link {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 15px;
    justify-content: flex-start;
    outline: none;
    transform: none;
}
.FL-Text {
    font-weight: 600;   
}
.Other-Links {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: none;
    gap: 10px;
    justify-content: flex-start;
    margin: 0;
    position: relative;
}
.Framer-Link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    outline: none;
    transform: none;
}
.Links-Text {
    color: #262626;
    font-weight: 500;
    margin: 0;
    opacity: 0.8;
    text-align: left;
}
.Links-Text:hover {
    color: #BFBFBF;
}
.below-Links {
    align-items: center;
    border-bottom-width: 0;
    border-color: #262626;
    border-left-width: 0;
    border-right-width:0;
    border-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: none;
    height: min-content;
    justify-content: space-between;
    max-width: 1000px;
    overflow: visible;
    padding: 30px 0 0;
    position: relative;
    width: 100%;
}
.copyright {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex: none;
    height: min-content;
    justify-content: space-between;
    max-width: 1000px;
    overflow: visible;
    position: relative;
    width: 100%;
}
.copy-Text {
    color: #262626;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    height: min-content;
    justify-content: flex-start;
    outline: none;
    text-align: left;
    transform: none;
}
.img-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: none;
    gap: 10px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}
.copy-Text-ri {
    align-items: normal;
    color: #262626;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    height: min-content;
    margin-left: auto;
    text-align: left;
    width: min-content;
}

