/*===================
style.css.css
Basis mit Einbindug in index.html
===================*/


html {
    scroll-behavior: smooth;
    background-color: #f0f0e9;
    font-family: "Space Grotesk";
    font-weight: 500;
}   
body {
}
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px black;
    background-color: #2a928e;
}
.row {
    padding: 24px;   
    align-content: center;
    justify-content: center;
}
.row li {
    display: inline;
}
.main-nav li{
    align-content: center;
    justify-content: center;
}
.nav {
    float: right;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.Kontakt-Link {
    border-radius: 8px;
    background-color: #ffdd58;
    color: #2a928e;
    padding: 15px;
}
.Kontakt-Link:hover {
    border-radius: 8px;
    background-color: ;
    color: #404c9f;
    padding: 15px;
}
header a {
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    color: #ffdd58;
}
header a:hover {
    color: #404c9f;
}












main {
    margin-top: 100px;
    padding-top: 50px;
}
footer {
    background-color: black;
    color: white;
    text-align: right;
    padding: 0.5rem;
}
footer a {
    color: white;
    text-decoration: none;
}
