.header {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 10cm;
    background-color: rgb(0, 55, 89);
}
p {
    color: blue;
    text-align: center;
    
}
